*#
*.class
*.iml
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*-shim.sbt
logs
target
**/.bsp
.idea/
.idea/**/**.*/
.idea/libraries/
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/project/plugins/project
project/boot
target/
/logs
.cache
.classpath
.project
.settings
/bin/
.cache-main
/.sbtserver

.idea
.idea_modules
**/.classpath
**/.project
**/.settings
**/bin/
.history
Dockerfile
docker-compose.yml
.bloop
.metals
project/metals.sbt
.bsp
**/decrypted/**
.vscode/
project/project/**/
.lh/src/main/scala/foundations/Http4s.scala.json
.lh/
**/project
/typelevel-project.code-workspace
